.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont {
    margin-right: 6px;
}

.layui-icon {
    margin-right: 6px;
}

.layui-nav-child dd {
    padding-left: 20px;
}

.layui-body iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

a {
    transition: none !important;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}
.layui-side-scroll .userinfo{
    border-bottom: 1px solid #000;
}
.layui-nav-img{
    width: 40px;
    height: 40px;
}
.taxt-avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgb(155, 120, 120);
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
}